<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>
    
<span class="credits"> 
    
	<a target="_blank" class="text-dark" href="https://wa.me/c/255758951968">
		Tembelea<i class="fa fa-heart text-danger"></i> <u>Micro Laptops</u>.
	</a>
    
</span>
    
</p>

<p>
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/">
        &copy;  {{site.name}}. 
    </a>
    
   <!-- <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy.html">
        Privacy Policy.
    </a> //-->
    
    <a class="text-muted" target="_blank" href="https://www.google.com/maps/place/Aggrey+St,+Dar+es+Salaam/@-6.8235,39.2724,17z/data=!4m5!3m4!1s0x185c4ba9402876c1:0x75cc1cd4a6169b84!8m2!3d-6.8224071!4d39.2754673?hl=en">
        Agrey St. Dar es Salaam.
    </a>
    
</p>
